html {
  font-size: 62.5%;
}

html, body, #root {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Satoshi', sans-serif;
}

body {
  background: url('background.png');
  background-size: cover;
  background-attachment: fixed;
}

.noShowMenu {
  position: fixed;
  top: 0;
  left: -44rem;
  transition: left 0.2s linear;
}

.showMenu {
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.2s linear;
}

.noShowProfile {
  position: fixed;
  top: 7rem;
  right: 4rem;
  display: none;
}

.showProfile {
  position: fixed;
  top: 7rem;
  right: 4rem;
  display: block;
  animation: fadeIn 0.1s linear forwards;
}

